ul li{
	display: inline-block;
}

a:link {
	text-decoration: none;
	background-color: green;
	color: white;
	padding: 20px;
}

a:active { /*не работает!!!*/
	color: yellow;
	background-color: blue;
	font-size: 100px;
}

a:hover {
	color: white;
	background-color: purple;
	font-size: 28px;
}

a:visited {
	color: black;
	background-color: grey;
}

h1:hover{
	font: 40px Verdana ;
}

p:hover{
	font: 40px Verdana;
}

