.content {
  text-align: center;
  background-color: #ffa500;
  padding: 10px;
  margin-bottom: 80px;
}
.content ul li a {
  text-decoration: none;
  color: #f00;
}
.container .content {
  reusable_padding: 10px;
}
.container .content p {
  padding: 20px;
}
.container p {
  color: #008000;
}
.container {
  -webkit-box-shadow: 1px 1px 3px #eee;
  -moz-box-shadow: 1px 1px 3px #eee;
  box-shadow: 1px 1px 3px #eee;
}
.container .content-box-shadow {
  border: 2px solid #eee;
}
.container .content p {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font: 50px Arial;
  left: 60px;
  position: relative;
}
.container .content p:nth-of-type(1) {
  text-decoration: underline;
}
.container .content p:nth-of-type(2) {
  text-decoration: underline;
}
.container .content2 {
  float: left;
  text-decoration: underline;
  color: #f00;
  font-size: 36px;
}
