.container .menu li {
  color: pink;
}
.container .menu li a {
  font-size: 20px;
}
.style {
  background-color: pink;
  color: white;
  padding: 10px;
}
.container p {
  padding: 20px 30px 40px;
  background-color: red;
}
.container h1 {
  font-size: 30px;
}
#p1_1,
#p1_2,
#p1_3 {
  text-decoration: underline;
  color: purple;
  font-size: 29px;
}
