body {
	.fon {
		background-image: url("../fon1.jpg");
		position: absolute;
		background-size: 100%;
		width: 1345px;
		height: 1000px;
		top: 50px;
		left: 0;
		background-repeat: no-repeat;
		z-index: 1;
		}
	.container {
		#logo img {
			position: absolute;
			top: -55px;
			left: 10px;
			width: 80px;
			height: 80px;
			z-index: 4;
		}
		#bike {
			font-family: 'Dancing Script', cursive;
			color: darkgoldenrod;
			font-size: 50px;
			position: absolute;
			top: -50px;
			margin-left: 160px;
			letter-spacing: 5px;
			z-index: 3;
			}
		#welcom {
			font-family: 'Sofia', cursive;
			font-size: 60px;
			position: absolute;
			top: 150px;
			margin-left: 60px;
			width: 400px;
			word-spacing: 10px;
			text-align: center;
			color: orangered;
			background-color:  wheat;
			border-radius: 110px;
			border: 10px black solid;
		}
		.icons {
			position: absolute;
			top: 60px;
			right: 5px;
			z-index: 4;
			a {
				padding: 10px;
				img {
					display: block;
					position: relative;
					width: 25px;
					height: 25px;
					z-index: 4;
				}
				img:hover {
					width: 40px;
					height: 40px;
				}
			}
		}
		.menu {
			background-image: url("../menu2.png");
			background-size: 100%;
			top: -50px;
			width: 100%;
			height: 60px;
			position: absolute;
			text-align: center;
			z-index: 2;
			li {
				position: relative;
				left: 200px;
				top: 10px;
				font-size: 40px;
				margin-right: 50px;
				display: inline-block;
				a {
					font-family: 'Dancing Script', cursive;
					color: orangered;
					text-decoration: none;
				}
				a:hover {
					color: darkorange;
				}
			}
		}
	}
	.container1 {
		background-color: tan;
		width: 1345px;
		height: 300px;
		position: absolute;
		top: 750px;
		z-index: 5;
		display: flex;
		border: 1px black solid;
		img {
			background-color: cornsilk;
			border: 5px coral solid;
			height: 250px;
			width: 250px;
			margin-left: 150px;
			border-radius: 100px;
			}
			p {
				width: 150px;
				color: black;
				font-size: 30px;
				margin-left: 206px;
				margin-top: -10px;
				text-align: center;
				font-family: 'Montez', cursive;
				background-color:  wheat;
				border-radius: 10px;
			}
			p:hover {
				color:  red;
			}
			img:hover {
				background-color: snow;
			}
		}
	.container2 {
		background-color: tan;
		position:absolute;
		height: 500px;
		width: 1345px;
		top: 1010px;
		}
		.contacts {
			background-image: url("../menu2.png");
			background-size: 100%;
			top: 30px;
			width: 100%;
			height: 60px;
			position: absolute;
			z-index: 6;
			}
			.menu2 {
				position: relative;
				z-index: 4;
					img {
						display: inline-block
						position: relative;
						top: 5px;
						left: 500px;
						width: 50px;
						height: 50px;
						margin-left: 20px;
						z-index: 7;
						}
					p {
						position: relative;
						top: -53px;
						left 580px;
						font-size: 20px;
						color: darkorange;
						width: 135px;
					}
				}
		.block {
			display: flex;
			position: relative;
			top: -60px;
			background-color: wheat;
		}
			.grup1 {
				img {
					border-radius: 150px;
					background-size: 100%;
					height: 400px;
					width: 470px;
					margin-left: 150px;
					border: 5px orangered solid;
					}
				p {
					font-size: 30px;
					font-family: 'Sofia', cursive;
					margin-top: 0px;
					background-color: orange;
					text-align: center;
					margin-right: 100px;
					margin-left: 240px;
					border-radius: 60px;
				}
				p:hover {
					color: red;
					}
				}
			.grup2 {
				img {
					border: 5px orangered solid;
					border-radius: 150px;
					background-size: 100%;
					margin-left: 150px;
					margin-right: 50px;
					height: 400px;
					width: 400px;
					}
				p {
					font-size: 30px;
					font-family: 'Sofia', cursive;
					margin-top: 0px;
					margin-left: 190px;
					margin-right: 100px;
					background-color: orange;
					text-align: center;
					border-radius: 60px;
				}
				p:hover {
					color: red;
					}
				}
			}
